h3 {
  font-size: 23px;
  line-height: 24px;
  color: #008fbf;
  font-family: "MyriadPro";
  margin-bottom: 9px; }

h2 {
  font-size: 19px;
  line-height: 24px;
  color: #008fbf;
  font-family: "MyriadPro"; }

.servises-list {
  list-style: none; }

.servises-list li:before {
  content: "-";
  position: relative;
  left: -5px;
  color: #008fbf; }

.news-block {
  display: block;
  margin-bottom: 18px; }
  .news-block a {
    font-size: 12px;
    line-height: 16px;
    color: #008fbf;
    font-family: "MyriadPro";
    word-wrap: break-word; }
  .news-block p {
    font-size: 12px;
    line-height: 16px;
    font-family: "MyriadPro";
    text-decoration: underline;
    text-decoration-color: #cacaca;
    margin-top: 5px;
    margin-bottom: 5px; }

.watch-all {
  font-size: 13px;
  line-height: 24px;
  color: #015967;
  font-family: "MyriadPro";
  margin-bottom: 30px; }

.online-order {
  font-size: 23px;
  line-height: 24px;
  color: #1f6f7c;
  font-family: "Myriad Pro";
  margin-bottom: 16px;
  margin-top: 20px; }

.online-order-text {
  font-size: 13px;
  line-height: 16px;
  color: #04a7c0;
  font-family: "MyriadPro"; }

.online-order-button {
  width: 233px;
  height: 41px;
  border-radius: 10px;
  background-image: linear-gradient(0deg, #0088bb 0%, #04b4e0 100%);
  display: flex;
  align-items: center; }
  .online-order-button .left-arrow {
    height: 10px;
    width: 6px;
    margin-left: 7%; }
  .online-order-button .right-arrow {
    height: 16px;
    width: 11px;
    margin-right: 4%; }
  .online-order-button .stick {
    width: 1px;
    height: 26px;
    background-color: #0083b0;
    margin-right: 7%; }
  .online-order-button .order-title {
    font-size: 20px;
    line-height: 16px;
    color: #ffffff;
    font-family: "MyriadPro";
    font-weight: bold;
    margin: 0;
    text-align: left;
    padding-top: 2%; }
  .online-order-button .order-text {
    font-size: 12px;
    line-height: 16px;
    color: #ffffff;
    font-family: "MyriadPro";
    margin: 0;
    text-align: left; }

.aboutUs {
  border-bottom: 2px dashed #686868;
  border-top: 2px dashed #686868;
  margin-bottom: 15px; }
  .aboutUs p {
    font-size: 13px;
    line-height: 24px;
    color: #797979;
    font-family: "MyriadPro";
    margin-top: 16px;
    margin-bottom: 14px; }

.offered-servises {
  margin-bottom: 0; }

.servises {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 2px dashed #686868; }
  .servises a {
    font-size: 13px;
    line-height: 22px;
    color: #11adc4;
    font-family: "MyriadPro"; }

.info-page {
  display: flex;
  margin-left: 10%;
  margin-right: 10%; }

.company-info {
  width: 64%; }

.news {
  margin-right: 5%;
  width: 30%; }

.news-title {
  margin-bottom: 28px; }

@media only screen and (max-width: 1200px) and (min-width: 1024px) {
  .servises {
    justify-content: space-between; }
    .servises ul {
      margin: 0;
      padding: 0; } }
@media only screen and (max-width: 768px) and (min-width: 0px) {
  .servises {
    justify-content: space-between; }
    .servises ul {
      margin: 0;
      padding: 0; }

  .info-page {
    display: flex;
    flex-direction: column; }
    .info-page .news, .info-page .company-info {
      width: 101%; } }

/*# sourceMappingURL=info-page.css.map */
