.hamburger {
  display: none; }

.top-menu {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0);
  display: flex;
  justify-content: center; }
  .top-menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 36px;
    width: 969px;
    background-color: #15a1cf; }
  .top-menu li {
    width: 100%;
    min-width: 145px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .top-menu li:active {
    background-color: #1abede;
    width: 100%;
    min-width: 145px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .top-menu li:nth-child(3) {
    min-width: 250px; }
  .top-menu a {
    font-size: 19px;
    line-height: 24px;
    color: #ffffff;
    font-family: "MyriadPro";
    text-decoration: none; }

@media only screen and (max-width: 1024px) and (min-width: 768px) {
  .top-menu {
    width: 100%; }
    .top-menu ul {
      width: auto; }
    .top-menu li {
      width: auto;
      min-width: auto; }
    .top-menu li:nth-child(3) {
      min-width: auto; }
    .top-menu li:active {
      min-width: auto;
      width: auto; }
    .top-menu a {
      padding: 0.5em;
      font-size: 18px; } }
@media only screen and (max-width: 768px) and (min-width: 375px) {
  .hamburger {
    display: block;
    position: absolute;
    left: 5%;
    top: 6%; }
    .hamburger img {
      width: 20px;
      height: 20px; }

  .top-menu {
    display: block;
    position: absolute;
    left: 5em;
    top: 5%;
    width: 9em; }
    .top-menu ul {
      display: block;
      width: auto;
      height: auto; }
    .top-menu ul :last-child {
      border-bottom: none; }
    .top-menu li {
      justify-content: flex-start;
      border-bottom: 1px solid white; }
    .top-menu li:nth-child(3) {
      min-width: 140px; }
    .top-menu li:active {
      min-width: auto;
      width: auto;
      height: auto;
      justify-content: flex-start; }
    .top-menu a {
      font-size: 12px;
      padding-left: 1em; } }
@media only screen and (max-width: 375px) and (min-width: 320px) {
  .hamburger {
    display: block;
    position: absolute;
    left: 5%;
    top: 6%; }
    .hamburger img {
      width: 20px;
      height: 20px; }

  .top-menu {
    display: block;
    position: absolute;
    left: 29%;
    top: 20%;
    width: 9em; }
    .top-menu ul {
      display: block;
      width: auto;
      height: auto; }
    .top-menu ul :last-child {
      border-bottom: none; }
    .top-menu li {
      justify-content: flex-start;
      border-bottom: 1px solid white; }
    .top-menu li:nth-child(3) {
      min-width: 140px; }
    .top-menu li:active {
      min-width: auto;
      width: auto;
      height: auto;
      justify-content: flex-start; }
    .top-menu a {
      font-size: 12px;
      padding-left: 1em; } }
@media only screen and (max-width: 320px) {
  .hamburger {
    display: block;
    position: absolute;
    left: 5%;
    top: 6%; }
    .hamburger img {
      width: 20px;
      height: 20px; }

  .top-menu {
    display: block;
    position: absolute;
    left: 29%;
    top: 20%;
    width: 9em; }
    .top-menu ul {
      display: block;
      width: auto;
      height: auto; }
    .top-menu ul :last-child {
      border-bottom: none; }
    .top-menu li {
      justify-content: flex-start;
      border-bottom: 1px solid white; }
    .top-menu li:nth-child(3) {
      min-width: 140px; }
    .top-menu li:active {
      min-width: auto;
      width: auto;
      height: auto;
      justify-content: flex-start; }
    .top-menu a {
      font-size: 12px;
      padding-left: 1em; } }

/*# sourceMappingURL=menu.css.map */
