@import "vars.scss";
@import "header.scss";
@import "menu.scss";

@font-face{
  font-family: 'MyriadPro';
  src: url('../../fonts/MyriadProRegular.ttf');
  font-weight: normal;
  font-style: normal;
}

.wrapper {
  margin: 0;
  padding: 0;
  font-family: MyriadPro;
  overflow-x: hidden !important;
  width: 100%;
}


