.projects {
    margin: 5% 10% 5% 10%;
}

.carousel__item {
  margin: 20px;

  & img {
    width: 200px;
    height: 100px;
  }
}

.projects-text {
    font-size: 13px;
    line-height: 24px;
    color: #797979;
    font-family: "MyriadPro";
    margin-top: 16px;
    margin-bottom: 14px;
}